$c-background: #fff;
$c-card: #f6f4fc;

$c-brand-1: #7140cf;
$c-brand-1-contrast: #fff;
$c-brand-2: #0e1350;
$c-brand-2-contrast: #fff;
$c-brand-3: #fff;
$c-brand-3-congtrast: #fff;

$c-positive: #74cae3;
$c-neutral: #fff953 ;
$c-negative: #ff326a;

$c-gradient-dark: #562aad;
$c-gradient-light: #7140cf;

$gradient: linear-gradient(to top, $c-gradient-dark 0%, $c-gradient-light 100%);

$c-twitter: #00acee;