.card-title {
    font-weight: 700;
}

.card {
    &_metric {
        background-color: $c-card;
        box-shadow: 0 5px 5px #00000010;
        border: none;
        border-radius: 10px;
        color: #000;
        transition: all .25s cubic-bezier(.17,.67,.83,.67);
    
        &:hover {
            box-shadow: 0 5px 5px #00000030;
            text-decoration: none;
            color: #333;
        }
    }
    
    &_bottom {
        position: fixed;
        z-index: 1040;
        width: 90%;
        margin: 0 5% 0 5% !important;
        border-radius: 10px 10px 0 0;
        bottom: 0;

        &:hover {
            box-shadow: 0 -5px 5px #00000030;
        }
    }
}

main::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
}